<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
     <th>Dates</th> 
    </tr>                                                              
    <tr class="vacancy first-row"> 
     <td class="site"><b>Хабр Карьера career.habr.com</b></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000088194">Java разработчик</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">SberTech</td> 
     <td class="salary">от 80 000 ₽</td> 
     <td class="date">01 февраля 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000097323">Младший Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">SkyFort</td> 
     <td class="salary"></td> 
     <td class="date">01 февраля 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000096380">Backend разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SberTech</td> 
     <td class="salary">от 120 000 до 180 000 ₽</td> 
     <td class="date">31 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000097192">Functional Analyst with XML skills</a></td> 
     <td class="city"></td> 
     <td class="companyName">IT Camp</td> 
     <td class="salary">До 1 800 €</td> 
     <td class="date">31 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000096422">Аналитик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">SberTech</td> 
     <td class="salary"></td> 
     <td class="date">31 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000093712">Junior Automation QA (Android)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Почтовые Технологии</td> 
     <td class="salary"></td> 
     <td class="date">29 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000096354">Java Developer (Synapse)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SberTech</td> 
     <td class="salary">До 200 000 ₽</td> 
     <td class="date">28 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000096161">Python разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Почтовые Технологии</td> 
     <td class="salary"></td> 
     <td class="date">27 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000093494">Разработчик инструментов DevOps</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">SberTech</td> 
     <td class="salary"></td> 
     <td class="date">27 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000096749">Fullstack-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Neoflex</td> 
     <td class="salary"></td> 
     <td class="date">26 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000095937">Golang developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Россельхозбанк</td> 
     <td class="salary"></td> 
     <td class="date">26 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000096563">Стажёр автотестировщик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Антара</td> 
     <td class="salary">от 35 000 до 50 000 ₽</td> 
     <td class="date">25 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000096381">Translator/Code Analyzer Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
     <td class="date">21 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000094752">Junior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Softline</td> 
     <td class="salary"></td> 
     <td class="date">17 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000094689">Android разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбер</td> 
     <td class="salary"></td> 
     <td class="date">17 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000094789">Junior QA инженер (QA Automation)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Softline</td> 
     <td class="salary"></td> 
     <td class="date">17 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000093568">Тестировщик ПО</a></td> 
     <td class="city"></td> 
     <td class="companyName">Электронный город</td> 
     <td class="salary"></td> 
     <td class="date">14 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000088199">Разработчик баз данных</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Электронный город</td> 
     <td class="salary">от 70 000 ₽</td> 
     <td class="date">14 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.habr.com/vacancies/1000094759">Java Developer (Junior2Middle - Обучение) с последующим трудоустройством</a></td> 
     <td class="city"></td> 
     <td class="companyName">Цифровые привычки</td> 
     <td class="salary">от 120 000 до 180 000 ₽</td> 
     <td class="date">27 декабря 2021</td> 
    </tr>
    <tr class="vacancy first-row"> 
     <td class="site"><b>HeadHunter hh.ru</b></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/51228513?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Android разработчик</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Вуду Рокс</td> 
     <td class="salary">40 000 – 100 000 руб.</td> 
     <td class="date">02 февраля 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50216018?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Java-разработчик</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Playtox</td> 
     <td class="salary"></td> 
     <td class="date">01 февраля 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/48545772?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Backend-разработчик (Java)</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">ООО&nbsp;«Инносети»</td> 
     <td class="salary"></td> 
     <td class="date">01 февраля 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50745199?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Middle/Senior Java Backend разработчик</a></td> 
     <td class="city">Москва, ЦСКА</td> 
     <td class="companyName">ООО&nbsp;Деко Системс</td> 
     <td class="salary"></td> 
     <td class="date">01 февраля 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/52002875?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Middle java-разработчик</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">ООО&nbsp;ОТР</td> 
     <td class="salary"></td> 
     <td class="date">01 февраля 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50745182?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Middle/Senior Java Backend разработчик</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">ООО&nbsp;Деко Системс</td> 
     <td class="salary"></td> 
     <td class="date">01 февраля 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/51943342?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Программист Java</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">ИП&nbsp;Гнитецкий Владимир Ильич</td> 
     <td class="salary">2 000 – 4 000 USD</td> 
     <td class="date">31 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/51875182?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Java/Kotlin-разработчик</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Домклик</td> 
     <td class="salary"></td> 
     <td class="date">31 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/46505948?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Разработчик на C++ или Java (Калининград)</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">FelenaSoft Company Ltd.</td> 
     <td class="salary">50 000 – 200 000 руб.</td> 
     <td class="date">29 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/51917024?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Middle/Senior Java Backend разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">ООО&nbsp;Деко Системс</td> 
     <td class="salary"></td> 
     <td class="date">29 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/51335469?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Java Developer (Middle)</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">ООО&nbsp;WaveAccess</td> 
     <td class="salary"></td> 
     <td class="date">19 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/51344565?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Исполнительный директор в кадровое агентство</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">ООО&nbsp;Кадровое агентство Даподбор</td> 
     <td class="salary">60 000 – 100 000 руб.</td> 
     <td class="date">19 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/51344523?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">HR бизнес-партнер</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">ООО&nbsp;Кадровое агентство Даподбор</td> 
     <td class="salary">60 000 – 120 000 руб.</td> 
     <td class="date">19 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/51245063?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Middle Java Developer</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">ООО&nbsp;ОТР</td> 
     <td class="salary"></td> 
     <td class="date">18 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/51285451?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Java Backend Developer (Middle / Senior)</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">АйТиСи Солюшенс</td> 
     <td class="salary"></td> 
     <td class="date">18 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/51250071?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Android-разработчик / Middle/Senior</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">KODE</td> 
     <td class="salary"></td> 
     <td class="date">18 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/51275860?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Azure Senior Data Specialist</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Атос АйТи Солюшенс энд Сервисез</td> 
     <td class="salary"></td> 
     <td class="date">18 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/51285446?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">DevOps Системный администратор</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">АйТиСи Солюшенс</td> 
     <td class="salary"></td> 
     <td class="date">18 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/51220431?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Java-разработчик (Москва, Нижний Новгород, Калининград)</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">ООО&nbsp;Совкомбанк Технологии</td> 
     <td class="salary"></td> 
     <td class="date">17 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50296735?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Python Developer (remote)</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Velvetech, LLC</td> 
     <td class="salary"></td> 
     <td class="date">17 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50389981?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">PHP Developer Team Lead (Remote)</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Velvetech, LLC</td> 
     <td class="salary"></td> 
     <td class="date">17 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/51204365?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Ведущий разработчик</a></td> 
     <td class="city">Ханты-Мансийск</td> 
     <td class="companyName">АО&nbsp;Группа страховых компаний Югория</td> 
     <td class="salary"></td> 
     <td class="date">17 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50642146?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Веб разработчик на Java/Javascript (Калининград)</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">FelenaSoft Company Ltd.</td> 
     <td class="salary">150 000 – 200 000 руб.</td> 
     <td class="date">14 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50953535?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Программист Java</a></td> 
     <td class="city">Кант</td> 
     <td class="companyName">Мой Дом Онлайн</td> 
     <td class="salary"></td> 
     <td class="date">11 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50924445?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Разработчик Java (Junior/Middle)</a></td> 
     <td class="city">Москва, Боровское шоссе и еще&nbsp;1&nbsp;</td> 
     <td class="companyName">ООО&nbsp;Фазум</td> 
     <td class="salary"></td> 
     <td class="date">11 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50953533?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Программист Java</a></td> 
     <td class="city">Ош</td> 
     <td class="companyName">Мой Дом Онлайн</td> 
     <td class="salary"></td> 
     <td class="date">11 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50943016?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Android-разработчик Middle/Senior</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">KODE</td> 
     <td class="salary"></td> 
     <td class="date">11 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50924707?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Инженер по внедрению и сопровождению</a></td> 
     <td class="city">Москва, Боровское шоссе и еще&nbsp;1&nbsp;</td> 
     <td class="companyName">ООО&nbsp;Фазум</td> 
     <td class="salary"></td> 
     <td class="date">11 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50924554?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">QA Lead</a></td> 
     <td class="city">Москва, Боровское шоссе и еще&nbsp;1&nbsp;</td> 
     <td class="companyName">ООО&nbsp;Фазум</td> 
     <td class="salary"></td> 
     <td class="date">11 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50842396?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Java backend developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО&nbsp;Рендер-ферма</td> 
     <td class="salary">60 000 – 100 000 руб.</td> 
     <td class="date">10 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50212895?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Java Developer. ТЕЗИС</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
     <td class="date">10 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50842398?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Java backend developer</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО&nbsp;Рендер-ферма</td> 
     <td class="salary">60 000 – 100 000 руб.</td> 
     <td class="date">10 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50873100?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Senior developer C#</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Game Forest (ООО Форествест)</td> 
     <td class="salary"></td> 
     <td class="date">10 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50213108?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Technical Lead. ТЕЗИС</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
     <td class="date">10 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50158351?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Инженер по авариям и абонентским обращениям</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Nexign (АО «Нэксайн»)</td> 
     <td class="salary"></td> 
     <td class="date">10 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50830941?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Java developer</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
     <td class="date">09 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50816860?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Java Full-Stack Разработчик</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">FelenaSoft Company Ltd.</td> 
     <td class="salary">150 000 – 200 000 руб.</td> 
     <td class="date">07 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50791475?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Full Stack Node.js React Developer (remote)</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Velvetech, LLC</td> 
     <td class="salary"></td> 
     <td class="date">04 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50791925?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Frontend React Developer (remote)</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Velvetech, LLC</td> 
     <td class="salary"></td> 
     <td class="date">04 января 2022</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kaliningrad.hh.ru/vacancy/50765967?from=vacancy_search_list&amp;hhtmFrom=vacancy_search_list&amp;query=java%20Kaliningrad">Java Backend TeamLead \ Senior developer</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">АйТиСи Солюшенс</td> 
     <td class="salary"></td> 
     <td class="date">30 декабря 2021</td> 
    </tr>
    <tr class="vacancy template first-row" style="display: none"> 
     <td class="site"><b></b></td> 
    </tr> 
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
     <td class="date"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>